* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(photos.jpeg);
    background-size: cover;
    background-position: center;

    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5));
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.menu-bar {
    background: rgb(0, 100, 0);
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul a {
    text-decoration: none;
    color: #fff;

}

.active,
.menu-bar ul li :hover {
    background: none;
    border-radius: 40px;

}

.menu-bar fa {
    margin-right: 8px;
}

.sub-menu-1 {
    display: none;

}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgb(0, 100, 0);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 1px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: #b2ff00;
}

.fa-right-angle {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(0, 100, 0);
}


footer {
    background-color: powderblue;
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}

.contact-title {
    margin-top: 10px;
    color: black;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

.contact-title h1 {
    font-size: 50px;
    line-height: 80px;
}

.contact-title h2 {
    padding-top: 10px;
    font-size: 40px;
    line-height: 10px;
}

form {
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: black;
    border-bottom: 1px solid black;
    color: white;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    height: 40px;
}

form .submit {
    background: red;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover {
    background-color: #f44336;
    cursor: pointer;
}

.h1 {
    color: red;
}